/* Nollställer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: #333;
    text-align: left;
    margin: 10px 65px 0px;
    font-size: 50px;
}

#h1-LandingPage:hover, #h1-LandingPage:focus {
    color: #df9412;
}

#h1-LandingPage {
    color: #333;
    text-align: left;
    margin: 50px 65px 0px;
    font-size: 64px;
    text-shadow: 2px 2px 4px #aaa;
    border-bottom: 2px solid #333;
    text-transform: uppercase;
}

#p-LandingPage1 {
    color: #333;
    text-align: left;
    margin: 10px 65px 0px;
    font-size: 20px;
    width: 60%;
    font-style: italic;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #333; /* Dark text color */
    margin: 10px 65px 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.pin-icon {
    margin-right: 10px;
    height: 20px;
    width: auto;
}


.menu-bar {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
}

.menu-bar li {
    display: inline-block;
}

.menu-bar a {
    display: block;
    padding: 50px 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.menu-bar a::first-letter {
    /*font-weight: bold; */
    /*color: rgb(199, 85, 14); */
}

.menu-bar a:hover {
    color: #ce3d04;
    transform: scale(1.05);
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link.active {
    font-weight: bold;
}

#site-footer {
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0; /* Ensures the footer extends from the left edge */
    width: 100%;
    padding: 5px;
}

#site-footer {
    z-index: 1000; /* Ensures the footer stays on top of other content */
}

body {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('scr/pexels-pixabay-59873.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 50px; /* Adjust based on the actual height of your footer */
}

form {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label,
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    resize: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.contact-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
}

.contact-form {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px 0 0 10px;
}

.contact-info {
    flex: 1;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 0 10px 10px 0; /* Rounded corners on the right side */
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 65px 0px;
    background-color: whitesmoke;
    border: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.gallery-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%; /* This ensures a 1:1 aspect ratio */
}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the area, cropping the image if necessary */
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

