/* Nollställer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bar {
    list-style-type: none;
    display: flex;
    justify-content: left; 
    align-items: center; /* Center the menu items vertically */
    padding-left: 50px;
}

.menu-bar li {
    display: inline-block;
}

.menu-bar a {
    display: block;
    padding: 50px 15px;
    font-size: 20px;
    text-decoration: none; /* Remove the underline from links */
    color: black;
}

.menu-bar a::first-letter {
    font-weight: bold;
    /*color: rgb(199, 85, 14); */
}

#site-footer {
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

body {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('scr/lindholmen.jpg') no-repeat center center fixed;
    background-size: cover;
}